.step {
  width: 350px;
  text-align: left;
  overflow: hidden;
  border-radius: 5px;
  box-sizing: border-box;
  &:not(:last-child) {
    margin-right: 40px;
    @include mobile {
      margin-right: 0px;
    }
  }
  
  @include mobile {
    flex-direction: column;
    margin-bottom: 14px;
    width: 100%;
  }
  
  &_upper {
    padding: 30px 0;
    background: $theme_blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &_num {
      font-size: 104px;
      font-weight: bold;
      font-family: "Raleway";
      color: $theme-aqua;
    }

    &_text {
      color: white;
      font-size: 24px;
      font-weight: 600;
    }
  }

  &_lower {
    background: #e5e5e5;
    padding: 10px 20px;
    min-height: 250px;
    
    &_steps {
      ul {
        @include mobile {
          padding-left: 25px;
        }
        li {
          margin: 3px 0;
       
        }
      }
    }
    &_cta {
      text-align: center;
      margin-top: 26px;
      font-size: 16px;
      font-weight: bold;
    }
  }
}