@keyframes fadeInRight {
  0% {
     opacity: 0;
     transform: translateX(40px);
  }

  100% {
     opacity: 1;
     transform: translateX(0);
  }
}

@keyframes fadeInTop {
  0% {
     opacity: 0;
     transform: translateY(-20px);
  }

  50% {
    opacity: 1;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInTopShort {
  0% {
     opacity: 0;
     transform: translateY(-30px);
  }
  50% {
     transform: translateY(10px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
}
@keyframes fadeInTopFar {
  0% {
     opacity: 0;
     transform: translateY(-40px);
  }
  50% {
     transform: translateY(10px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  animation-fill-mode: forwards;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
} 
.fadeInTopReverse {
  -webkit-animation-name: fadeInTop;
  animation-name: fadeInTop;
  animation-fill-mode: forwards;
  animation-direction: reverse;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
} 
.fadeInTop {
  -webkit-animation-name: fadeInTop;
  animation-name: fadeInTop;
  animation-fill-mode: forwards;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
} 

.fadeInTopShort {
  -webkit-animation-name: fadeInTopShort;
  animation-name: fadeInTopShort;
  animation-fill-mode: forwards;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

} 
.fadeInTopFar {
  -webkit-animation-name: fadeInTopFar;
  animation-name: fadeInTopFar;
  animation-fill-mode: forwards;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

} 