@font-face {
  font-family: 'ProximaNova'; 
  src: url('./../fonts/Proxima_Nova/ProximaNova-Regular.otf'); /*URL to font*/
}
@font-face {
  font-family: 'Raleway'; 
  src: url('./../fonts/Raleway/Raleway-ExtraBold.ttf'); /*URL to font*/
  font-weight: bold;
}

@font-face {
  font-family: 'ProximaNova'; 
  src: url('./../fonts/Proxima_Nova/Proxima Nova Bold.otf'); /*URL to font*/
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova'; 
  src: url('./../fonts/Proxima_Nova/Proxima Nova Alt Bold.otf'); /*URL to font*/
  font-weight: 300;
  font-style: normal;
}