@import "./mixins.scss";
@import "./variables.scss";
@import "./snippets/fadein.scss";
@import "./partials/header.scss";
@import "./partials/landing.scss";
@import "./partials/section_1.scss";
@import "./partials/section_2.scss";
@import "./partials/register_now.scss";
@import "./partials/who_we_are.scss";
@import "./partials/footer.scss";
@import "./components/steps.scss";
@import "./fonts.scss";
@import "./animations.scss";

body {
  font-family: 'ProximaNova', sans-serif;
  text-align: center;
  max-width: 100%;
  margin: 0px;
}

.content {
  width: 100%;
}

.button {
  cursor: pointer;
  border-radius: 3px;
}

a {
  text-decoration: none;
  color: #ef8732;
}
a:visited {
  color: #ef8732;
  ;
}


@include mobile {
  ul {
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
}