@mixin mobile {
  @media (max-width: 700px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 700px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 900px) {
    @content;
  }
}
@mixin large {
  @media (min-width: 1800px) {
    @content;
  }
}
