$theme-aqua: #60e6c7;
$theme_blue: #343748;
$font-header: 40px;
$font-sub-header: 20px;
$font-section_1-header: 50px;
$font-section_1-header-m: 30px;
$font-section_1-sub_header: 25px;
$font-section_1-sub_header-m: 20px;
$font-section_1-body: 15px;
$font-section_2-header: 35px;
$font-header-bar: 14px;
$header_height: 69px;

