/* Image with 'data' attribute is hidden */
  .fadeinup {
  /* we set the opacity to 0 */
     opacity: 0;
  }

  /* Image without 'data' attribute is (or becomes) visible
    transition: opacity .5s linear 0.2s;
   */
   .putin.loaded, img[data-loaded]{
    animation: fadeIn .3s ease;
    animation-fill-mode: forwards;
  }
   .fadeinup {
     animation:fadeInUp 2s ease;
     animation-fill-mode: forwards;
  }

  @keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
  }

  @keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
  }