<div class="step viewport_target step_{{number}}">
  <div class="step_upper">
    <div class="step_upper_num">
      {{number}}
    </div>
    <div class="step_upper_text">
      {{title}}
    </div>
  </div>
  <div class="step_lower">
    <div class="step_lower_steps">
        <ul>
            {{#features}}
            <li>{{{.}}}</li>
            {{/features}}
          </ul>
    </div>
    <div class="step_lower_cta button">
      {{cta}}
    </div>
  </div>
</div>