<div class="footer">
  <div class="footer_content">
    <p>info@kuma.com</p>
    <p>&#8226;</p>
    <p>1153 Center Draive Suite G240, Park City, Utah 84098</p>
    <p>&#8226;</p>
    <p>P: 435.200.3199</p>
  </div>
</div>