<div class="header">
  <div class="header_menu">
    <div class="header_menu_product">PRODUCT</div>
    <div class="header_menu_about">ABOUT</div>
    <div class="header_menu_help"> HELP GETTING STARTED</div>
  </div>
  <div class="header_logo">
    <img class="lozad header-image" data-src="/static/logo.png" data-mobile-src="/static/logo.png" />
  </div>
  <div class="header_cta">
    <div class="header_cta_button button">
      GET STARTED
    </div>
  </div>

  <div id="nav-icon4" class="header_mobile_menu">
      <span></span>
      <span></span>
      <span></span>
  </div>
</div>

<div class="header_mobile_page">
    <p class="header_mobile_page_link">PRODUCT</p>
    <p class="header_mobile_page_link">ABOUT</p>
    <p class="header_mobile_page_link">HELP GETTING STARTED</p>
  </div>