<div class="landing">
  <img class="lozad  landing-image" data-mobile-src="/static/background_mobile.png" data-src="/static/desk_bg.png" />
  <div class="landing_content">
    <div class="landing_content_header viewport_target ">
      Invest in the Future
    </div>
    <div class="landing_content_body viewport_target ">
      Kuma levels the playing field for the Crypto market by making powerful pre-trade analytics and actionable trading strategis available to everyone, anywhere, any time.
    </div>
    <div class="landing_content_cta viewport_target button">
      Get started
    </div>
  </div>
</div>