<div class="register">
  <div class="register_title">Register Now</div>
  <div class="register_subtitle">Fill out the form and we will send you an email to get started</div>
  <div class="register_form">
    <input type="text" placeholder="First Name">
    <input type="text" placeholder="Last Name">
    <input type="text" placeholder="Email">
  </div>
  <div class="register_cta">
    <div class="register_cta_button viewport_target button">
      Register
    </div>
  </div>
</div>