<div class="section_1">
  <div class="section_1_title">Systematic Trend-Following</div>
  <div class="section_1_subtitle">Unlock the Value of Crypto with Less Risk</div>
  <div class="section_1_body">Congratulations! The portion of your Coinbase Pro account specified as your investment amount will now be algorithmically rebalanced to capture uptrends across 11 pairs on Coinbase, removing downside risk by sitting in USD when signals suggest markets are likely to move lower. 
  </div>
</div>