<div class="section_2">
  <div class="section_2_title viewport_target">Getting Started is Easy</div>
  <div class="section_2_steps">
    ${(function() {
      const stepsData = require('../data/steps.json');
      const stepsComponent = require('mustache-loader!../components/steps.html');
      return stepsComponent(stepsData.steps[0])
    })()}
    ${(function() {
      const stepsData = require('../data/steps.json');
      const stepsComponent = require('mustache-loader!../components/steps.html');
      return stepsComponent(stepsData.steps[1])
    })()}
    ${(function() {
      const stepsData = require('../data/steps.json');
      const stepsComponent = require('mustache-loader!../components/steps.html');
      return stepsComponent(stepsData.steps[2])
    })()}
  </div>

</div>