.footer {
  background: #555454;
  border-top: 1px solid white;
  padding: 20px;
  &_content {
    display: flex;
    flex-direction: row;
    @include mobile {
      flex-direction: column;
    }
    align-items: center;
    justify-content: center;

    p {
      color: white;
      margin: 0px;
    }

    p:not(:last-child) {
      margin-right: 15px;
      @include mobile {
        flex-direction: column;
        margin-right: 0px;

      }
    }
  }
}