
.header {
  justify-content: space-between;
  padding: 15px 60px;
  box-sizing: border-box;
  align-items: center;
  background: rgba(255,255,255,0.7);

  position: fixed;
  width: 100%;
  top:0;
  z-index: 99;
  transition: top 0.2s ease-in-out;
  height: $header_height;
  display: flex;
  justify-content: space-between;
  font-size: $font-header-bar;
  -webkit-box-shadow: 1px 6px 15px -6px rgba(0,0,0,0.4); 
  box-shadow: 1px 6px 15px -6px rgba(0,0,0,0.4);
  z-index: 9;
  @include mobile {
    background: $theme_blue;
    -webkit-box-shadow: 1px 6px 15px -6px #000000; 
    box-shadow: 1px 6px 15px -6px #000000;
    padding: 15px 60px;
    padding: 0px;
    padding-right: 10px;
  }
  &_menu {
    @include mobile {
      display: none;
    }
    display: flex;
    justify-content: space-between;

    >div:not(:first-child) {
      padding-left: 20px;
      border-left: 1px solid black;
    }
    >div:not(:last-child) {
      padding-right: 20px;
    }
  }

  &-image {
    position: absolute;
    top: 0;
    width: 175px;
    margin: 0 auto;
    left: 0;
    right: 0;
    @include mobile {
      height:70px;
      margin: 0;
      top: -3;
      left:10px;
      width:inherit;
    }
  }
  &_cta {
    @include mobile {
      display: none;
    }
    &_button {
      font-size: $font-sub-header;
      padding: 8px 20px;
      background: $theme-aqua;
      border-radius: 3px;
      font-weight: bold;
    }
  }
}

.header_mobile_page {
  display: none;
  @include mobile {
    transition: all 300ms ease-in;
    display: flex;
    padding: 0px 40px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    right:0px;
    left:0px;
    top: 0px;
    bottom: 0px;
    background: $theme_blue;
    margin-bottom: 100vh;
    z-index: 7;
  }

  p {
    color: white;
    font-size: 36px;
    text-align: left;
    font-weight: bold;
    &:first-child {
      //animation
      opacity: 0;
      animation-duration: 600ms;
      animation-delay:300ms;
    }
    &:nth-child(2) {
      //animation
      opacity: 0;
      animation-duration: 500ms;
      animation-delay:300ms;
    }
    &:last-child {
      //animation
      opacity: 0;
      animation-duration: 400ms;
      animation-delay:300ms;
    }
  }
}

.header_open {
  margin-bottom: 0;
}

.header_up {
  top: -140px; // same as header height. use variables in LESS/SASS
}


//Nav Hamburger menu
#nav-icon4 {
  display: none;
  @include mobile {
    display: inline;
  }
  width: 60px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon4 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


#nav-icon4 span:nth-child(1) {
  top: 5px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 21px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 37px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}