.landing {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  flex-direction: row;
  height: 480px;
  padding-left: 60px;

  @include mobile {
    padding-left: 12px;
  }
  background-color: $theme_blue;
  padding-top: $header_height;
  overflow: hidden;

  &-image {
    object-fit: cover;
    position: absolute;
    width: 100%;
    min-height: 100%;
    left: 0px;
    z-index: 1;
    top: 0;

    @include mobile {
      min-height: 100%;
      width: 100%;
    }
  }

  &_content {
    z-index: 2;
    color: white;
    width: 400px;
    &_header {
      color: $theme_aqua;
      font-size: $font-header;
      font-weight: bold;
      text-align: start;
      //animation
      opacity: 0;
      animation-duration: 400ms;
      animation-delay:300ms;
    }

    &_body {
      text-align: start;
      font-size: $font-sub-header;
      line-height: 30px;
      margin-top: 16px;
      //animation
      opacity: 0;
      animation-duration: 600ms;
      animation-delay:400ms;
    }

    &_cta {
      background: white;
      color: $theme_blue;
      padding: 4px 14px;
      box-sizing: border-box;
      font-size: $font-sub-header;
      width: fit-content;
      font-weight: bold;
      margin-top: 20px;
      //animation
      opacity: 0;
      animation-duration: 700ms;
      animation-delay:1000ms;
    }
  }
}

