.register {
  background: #e5e5e5;
  padding-bottom: 40px;
  &_title {
    font-size:$font-section_2-header;
    font-weight: bold;
    padding-top: 40px;
  }

  &_subtitle {
    @include mobile {
      padding: 0px 12px;
    }
  }

  &_form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    @include mobile {
      padding: 0px 14px;
    }
    input {
      width: 300px;
      box-sizing: border-box;

      @include mobile {
        width: 100%;
      }
      padding: 15px;
      border: 1px solid $theme_blue
    }

    input:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &_cta {
    margin-top: 50px;
    &_button {
      background: $theme-aqua;
      box-sizing: border-box;
      display: inline-block;
      padding: 8px 20px;
      text-align: center;
      font-weight: bold;
      //animation
      opacity: 0;
      animation-duration: 500ms;
      animation-delay:200ms;
    }
  }

}