.section_2 {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
  overflow: hidden;
  box-sizing: border-box;

  @include mobile {
    margin-bottom: 20px;
    width: 90%;
    margin: 0 auto;
  }
  &_title {
    font-weight: 300;
    font-size: $font-section_2-header;
    color: $theme_blue;
    margin-top: 80px;
    //animation
    opacity: 0;
    animation-duration: 600ms;
    animation-delay:300ms;
  }
  &_steps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    @include mobile {
      flex-direction: column;
      box-sizing: border-box;
      width: 100%;
    }
  }
}

.step_1 {
  //animation
  opacity: 0;
  animation-duration: 500ms;
  animation-delay:300ms;
}
.step_2 {
  //animation
  opacity: 0;
  animation-duration: 700ms;
  animation-delay:300ms;
}
.step_3 {
  //animation
  opacity: 0;
  animation-duration: 900ms;
  animation-delay:300ms;
}