.section_1 {
  max-width: 750px;
  margin: 0 auto;
  &_title {
    font-size: $font-section_1-header;
    @include mobile {
      font-size: $font-section_1-header-m;
    }
    font-weight: bold;
    margin-top: 60px;
    color: $theme_blue;
  }
  &_subtitle {
    font-size: $font-section_1-sub_header;
    @include mobile {
      font-size: $font-section_1-sub_header-m;
      padding: 12px;
    }
    margin-bottom: 20px;
    color: $theme-aqua;
  }
  &_body {
    font-size: $font-section_1-body;
    line-height: 25px;
    @include mobile {
      padding: 12px;
    }
  }
}