.who-we-are {
  background: $theme_blue;
  padding: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  &_wrapper {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    align-items: center;
    padding-left: 100px;
    @include mobile {
    flex-direction: column;
    padding-left: 0px;
    }
  }
  &_logo {
    display: flex;
    flex-direction: column;
    flex: 2;

    @include mobile {
      margin-bottom: 40px;
    }
    p {
      font-size: 128px;
      line-height: 86px;
      font-family: 'Raleway';
      margin: 0px;
      text-align: left;
    }
    p:first-child {
      color: #595283;
      //animation
      opacity: 0;
      animation-duration: 400ms;
      animation-delay:100ms;
    }
    p:nth-child(2) {
      color: #aea9bc;
      //animation
      opacity: 0;
      animation-duration: 500ms;
      animation-delay:200ms;
    }
    p:last-child {
      color: $theme-aqua;
      //animation
      opacity: 0;
      animation-duration: 600ms;
      animation-delay:300ms;
    }
  }

  &_content {
    color: white;
    text-align: left;
    flex: 3;
  }
}
